<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("name"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to t("header.eng"), locale: :en %> </li>
        <li> <%= link_to t("header.vie"), locale: :vi %> </li>
        <% if logged_in? %>
          <li><%= current_user.name %></li> 
          <li> <%= link_to t("home.logout"), logout_path, method: :delete %></li>
        <% else %>
          <li> <%= link_to t("login.login"), login_path %></li>
          <li> <%= link_to t("signup"), signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
